<div class="envol-div">
    <div class="titulo-pagina reg-titulo">
        <i class="icon fa fa-user-plus"></i>
        <div>
            <h4>Añadir nueva candidatura municipal</h4>
            <p>Agregue la información solicitada para añadir una candidatura.</p>
        </div>
    </div>

    <div class="form-estilo row adduser-form">

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-control-label">Municipio <span class="tx-danger">*</span></label>
                <select class="form-control" id="reg-m-municipio">
                    <option value="">Selecciona una opción</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-control-label">Partido Político / Coalición / Independiente<span class="tx-danger">*</span></label>
                <select required class="form-control" id="reg-m-partidos-politicos" disabled>
                    <option value=''>Selecciona una opción</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="form-control-label">Tipo elección<span class="tx-danger">*</span></label>
                <select class="form-control" id="reg-m-TEleccion" disabled>
                    <option value="0">Seleccione una tipo elección</option>
                    <option value="4">PRESIDENTE/A</option>
                    <option value="6">SINDICOS/AS</option>
                    <option value="7">REGIDURÍA</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group d-none" id="groupOrden">
                <label class="form-control-label">Regidores<span class="tx-danger">*</span></label>
                <select class="form-control" id="reg-m-Osindicatura" disabled>
                    <option value="">Selecciona una opción</option>
                </select>
            </div>
        </div>
        <!-- fin -->
    </div>


    <div id="raContainer">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active btnPro" id="pills-propietario-tab" data-toggle="pill" href="#pills-propietario-municipio" role="tab" aria-controls="pills-home" aria-selected="true">Propietario/a</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btnSup" id="pills-suplente-tab" data-toggle="pill" href="#pills-suplente-municipio" role="tab" aria-controls="pills-profile" aria-selected="false">Suplente</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-propietario-municipio" role="tabpanel" aria-labelledby="pills-propietario-tab">

                <div class="row reg-m-pro">
                    <!-- Propietario -->
                    <div class="split-form">

                        <form id="registroPropietarioMunicipio" method="post">

                            <div class="marg-form">
                                <h5 class="titulo"><i class="icon fa fa-user"></i> Propietario </h5>
                                <div class="form-group">
                                    <label class="form-control-label">Nombre(s)<span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" id="reg-m-nombre" onkeypress="return  restriccionNombre(event)">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Apellido Paterno <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" id=reg-m-ap onkeypress="return  restriccionNombre(event)">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Apellido Materno <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" id="reg-m-pro-am" onkeypress="return  restriccionNombre(event)">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Fecha de Nacimiento <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="date" id="reg-m-pro-fecn" min="1950-01-01" max="2003-02-27" maxlength="8">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Género <span class="tx-danger">*</span></label>
                                    <select class="form-control rdGeneroP" id="reg-m-pro-gen">
                                        
                                        <option value="">Selecciona una opción</option>
                                        <option value="MASCULINO">Masculino</option>
                                        <option value="FEMENINO">Femenino</option>
                                       
                                    </select>
                                </div>
                                <div class="form-check" style="display: none;" id="boxAyuP">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="checkAyuP">
                                    <label class="form-check-label form-control-label">
                                     ¿Desea recibir informacion acerca de la paridad de genero?
                                </label>
                                </div>

                                <div class="form-group" id="CemailAyuP" style="display: none;">
                                    <label class="form-control-label" id="eti">Correo Electrónico</label>
                                    <input class="form-control" type="email" id="IemailAyuP" name="email" placeholder="usuario@dominio.com" size="30">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Lugar de Nacimiento <span class="tx-danger">*</span></label>
                                    <select required class="form-control estados" id="reg-m-pro-sitenac">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Clave de Elector <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" maxlength="18" minlength="18" onkeypress="return  restriccion(event)" placeholder="ABCD123456FDCVGBHC" id="reg-m-pro-claveElector">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">CURP <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" maxlength="18" minlength="18" placeholder="MECC020123HDFNRR04" id="reg-m-pro-curp" onkeypress="return  restriccion(event)">
                                </div>




                                <!--Inicio de campos nuevos-->

                                <div class="form-group">
                                    <label class="form-control-label">Número de emisión de la credencial para votar<span class="tx-danger">*</span></label>
                                    <input type="text" class="form-control tiempo_residencia" id="reg-m-pro-num_emision" name="reg-num_emision" placeholder="Número de emisión de la credencial" onkeypress="return  soloNumeros(event)" maxlength="4" minlength="1">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">OCR<span class="tx-danger">*</span></label>
                                    <input type="text" class="form-control tiempo_residencia" id="reg-m-pro-ocr" name="OCR" placeholder="OCR" onkeypress="return soloNumeros(event)" maxlength="13" minlength="1">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">CIC (Código de Identificación de Credencial para Votar)<span class="tx-danger"></span></label>
                                    <input class="form-control" id="reg-m-pro-CIC" name="CIC" type="text" maxlength="15" minlength="15" placeholder="Código de identificación de Credencial para Votar">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Sección<span class="tx-danger">*</span></label>
                                    <input type="text" id="reg-m-pro-seccion" class="form-control tiempo_residencia" name="seccion" placeholder="Sección" onkeypress="return soloNumeros(event)" maxlength="4" minlength="1">
                                </div>

                                <!--Fin de campos nuevo-->




                                <div class="form-group">
                                    <label class="form-control-label">Tiempo de Residencia <span class="tx-danger">*</span></label>
                                    <div class="input-group">
                                        <label class="form-control-label d-none">Tiempo de Residencia <span class="tx-danger">*</span></label>
                                        <input type="text" class="form-control tiempo_residencia" id="reg-m-pro-timeres" name="tiempo" onkeypress="return  restriccionTime(event)" maxlength="2" minlength="1">
                                        <div class="input-group-append">
                                            <span class="input-group-text">AÑOS</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Sobrenombre</label>
                                    <input class="form-control" type="text" id="reg-m-pro-sobrenombre" onkeypress="return  restriccionNombre(event)">
                                </div>


                                <div class="form-group fadeIn">
                                    <input type="checkbox" id="cboPoliticaMP">
                                    <label for="cboPoliticaMP" style="color:#868ba1;font-size: 16px;">He leÍdo y acepto la  <a href="#">
                                        Política de Privacidad <span class="tx-danger">*</span>
                                    </a></label>
                                </div>

                            </div>

                            <div class="justify-content-center btn-formulario">
                                <button type="button" name="button" class="btn btn-secondary" id="cancelCandidaturaM">Cancelar</button>
                                <button type="button" name="button" class="btn btn-primary" id="reg-municipio">Registrar Propietario</button>
                            </div>
                        </form>
                    </div>
                    <!-- Documentación del propietario  -->
                    <div class="split-form">
                        <div class="marg-form">
                            <h5 class="titulo"><i class="icon fa fa-file"></i> Documentación del Propietario</h5>
                            <form method="POST" id="docPropietarioMunicipio">
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-snr">
                                    <label class="form-check-label form-control-label" for="defaultCheck1">
                                         Documento emitido por el SNR del INE.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-regcan">
                                    <label class="form-check-label form-control-label" for="defaultCheck2">
                                     Solicitud de Registro de Candidatura.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-cred">
                                    <label class="form-check-label form-control-label" for="defaultCheck5">
                                     Credencial para votar vigente.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-actnac">
                                    <label class="form-check-label form-control-label" for="defaultCheck3">
                                         Copia certificada del Acta de Nacimiento.
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label form-control-label">Copia certificada del Acta de Nacimiento del padre o madre Tlaxcalteca</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mProCopiaMPT" id="m-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="m-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mProCopiaMPT" id="m-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="m-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mProCopiaMPT" id="m-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="m-can3">No aplica</label>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-radicacion">
                                    <label class="form-check-label form-control-label" for="defaultCheck8">
                                        Constancia de Radicación.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-aceptacion">
                                    <label class="form-check-label form-control-label" for="defaultCheck6">
                                        Constancia de aceptación de la postulación.
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label form-control-label">Constancia de separación del cargo de la función pública.</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input doc-checkbox" type="radio" name="mProSeparacionCargo" id="m-sepRadio1" value="SI">
                                        <label class="form-check-label form-control-label" for="m-sepRadio1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input doc-checkbox" type="radio" name="mProSeparacionCargo" id="m-sepRadio2" value="NO">
                                        <label class="form-check-label form-control-label" for="m-sepRadio2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input doc-checkbox" type="radio" name="mProSeparacionCargo" id="m-sepRadio3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="m-sepRadio3">No aplica</label>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-inhabilitado">
                                    <label class="form-check-label form-control-label" for="defaultCheck10">
                                        Escrito bajo protesta de decir verdad, que no se encuentra inhabilitado para ocupar un cargo público y que no se cuenta con antecedentes penales.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-antpen">
                                    <label class="form-check-label form-control-label" for="defaultCheck9">
                                      Carta de antecendentes no penales.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-me">
                                    <label class="form-check-label form-control-label" for="defaultCheck11">
                                    Manifestación de partido político.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-ce">
                                    <label class="form-check-label form-control-label" for="defaultCheck12">
                                        Informe de capacidad económica.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="pro-m-cp">
                                    <label class="form-check-label form-control-label" for="defaultCheck13">
                                        Cédula de identificación fiscal.
                                    </label>
                                </div>


                                <!--cambios de ultima hora-->

                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="doc-carta-3-ap">
                                    <label class="form-check-label form-control-label" for="doc-carta-3-ap">
                                        CARTA 3 DE 3
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label form-control-label">CARTA REELECCIÓN</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="cartaEleccion-ap" id="cartaEleccion-ap-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="cartaEleccion-ap-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="cartaEleccion-ap" id="cartaEleccion-ap-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="cartaEleccion-ap-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="cartaEleccion-ap" id="cartaEleccion-ap-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="cartaEleccion-ap-can3">No aplica</label>
                                    </div>
                                </div>


                                <div class="form-check">
                                    <label class="form-check-label form-control-label">CONSTANCIA DE AUTORIZACIÓN DEL ÓRGANO PARTIDISTA EN CASO DE RELECCIÓN</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="constAutOrganoPartidista-ap" id="constAutOrganoPartidista-ap-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="constAutOrganoPartidista-ap-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="constAutOrganoPartidista-ap" id="constAutOrganoPartidista-ap-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="constAutOrganoPartidista-ap-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="constAutOrganoPartidista-ap" id="constAutOrganoPartidista-ap-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="constAutOrganoPartidista-ap-can3">No aplica</label>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label form-control-label">MANIFESTACIÓN DE AUTOADSCRIPCIÓN INDÍGENA</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="manifestacionIndigena-ap" id="manifestacionIndigena-ap-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="manifestacionIndigena-ap-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="manifestacionIndigena-ap" id="manifestacionIndigena-ap-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="manifestacionIndigena-ap-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="manifestacionIndigena-ap" id="manifestacionIndigena-ap-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="manifestacionIndigena-ap-can3">No aplica</label>
                                    </div>
                                </div>


                                <div class="form-check">
                                    <label class="form-check-label form-control-label">CONSTANCIAS QUE ACREDITEN EL VÍNCULO COMUNITARIO</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="consVinculoComuni-ap" id="consVinculoComuni-ap-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="consVinculoComuni-ap-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="consVinculoComuni-ap" id="consVinculoComuni-ap-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="consVinculoComuni-ap-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="consVinculoComuni-ap" id="consVinculoComuni-ap-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="consVinculoComuni-ap-can3">No aplica</label>
                                    </div>
                                </div>

                                <!--Fin de cambios de ultima hora-->


                            </form>
                        </div>
                        <!-- marg-form -->
                    </div>

                </div>
                <!-- row -->
            </div>


            <div class="tab-pane fade" id="pills-suplente-municipio" role="tabpanel" aria-labelledby="pills-suplente-tab">
                <div class="row reg-m-sup">
                    <!-- Suplente -->
                    <div class="split-form">
                        <form method="post" id="registroSuplenteMunicipio">
                            <div class="marg-form">

                                <h5 class="titulo"><i class="icon fa fa-user"></i> Suplente</h5>
                                <div class="form-group">
                                    <label class="form-control-label">Nombre(s)<span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" id="reg-m-sup-nombre" onkeypress="return  restriccionNombre(event)">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Apellido Paterno <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" id="reg-m-sup-ap" onkeypress="return  restriccionNombre(event)">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Apellido Materno <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" id="reg-m-sup-am" onkeypress="return  restriccionNombre(event)">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Fecha de Nacimiento <span class="tx-danger">*</span></label>
                                    <input class="form-control" type="date" id="reg-m-sup-fecn" min="1950-01-01" max="2003-02-27" maxlength="8">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Género<span class="tx-danger">*</span></label>
                                    <select class="form-control rdGeneroS" id="reg-m-sup-gen">
                                     
                                        <option value="">Selecciona una opción</option>
                                        <option value="MASCULINO">Masculino</option>
                                        <option value="FEMENINO">Femenino</option>
                                       
                                    </select>
                                </div>

                                <div class="form-check" style="display: none;" id="boxAyuS">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="checkAyuS">
                                    <label class="form-check-label form-control-label">
     ¿Desea recibir informacion acerca de la paridad de genero?
</label>
                                </div>

                                <div class="form-group" id="CemailAyuS" style="display: none;">
                                    <label class="form-control-label">Correo Electrónico</label>
                                    <input class="form-control" type="email" id="IemailAyuS" name="email" placeholder="usuario@dominio.com" size="30">
                                </div>
                                <div class="form-group ">
                                    <label class="form-control-label">Lugar de Nacimiento <span class="tx-danger">*</span></label>
                                    <select required class="form-control estado estados" id="reg-m-sup-sitenac"></select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Clave de Elector<span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" maxlength="18" minlength="18" onkeypress="return  restriccion(event)" placeholder="ABCD123456FDCVGBHC" id="reg-m-sup-claveElector">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">CURP<span class="tx-danger">*</span></label>
                                    <input class="form-control" type="text" maxlength="18" minlength="18" placeholder="MECC020123HDFNRR04" id="reg-m-sup-curp" onkeypress="return  restriccion(event)">
                                </div>


                                <!--Inicio de campos nuevos-->

                                <div class="form-group">
                                    <label class="form-control-label">Número de emisión de la credencial para votar<span class="tx-danger">*</span></label>
                                    <input type="text" class="form-control tiempo_residencia" id="reg-m-sup-num_emision" name="reg-num_emision" placeholder="Número de emisión de la credencial" onkeypress="return  soloNumeros(event)" maxlength="4" minlength="1">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">OCR<span class="tx-danger">*</span></label>
                                    <input type="text" class="form-control tiempo_residencia" id="reg-m-sup-ocr" name="OCR" placeholder="OCR" onkeypress="return soloNumeros(event)" maxlength="13" minlength="1">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">CIC (Código de Identificación de Credencial para Votar)<span class="tx-danger"></span></label>
                                    <input class="form-control" id="reg-m-sup-CIC" name="CIC" type="text" maxlength="15" minlength="15" placeholder="Código de identificación de Credencial para Votar" >
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Sección<span class="tx-danger">*</span></label>
                                    <input type="text" id="reg-m-sup-seccion" class="form-control tiempo_residencia" name="seccion" placeholder="Sección" onkeypress="return soloNumeros(event)" maxlength="4" minlength="1">
                                </div>

                                <!--Fin de campos nuevo-->



                                <div class="form-group">
                                    <label class="form-control-label">Tiempo de Residencia<span class="tx-danger">*</span></label>
                                    <div class="input-group">
                                        <label class="form-control-label d-none">Tiempo de Residencia <span class="tx-danger">*</span></label>
                                        <input type="text" class="form-control tiempo_residencia" id="reg-m-sup-timeres" name="tiempo" onkeypress="return  restriccionTime(event)" maxlength="2" minlength="1">
                                        <div class="input-group-append">
                                            <span class="input-group-text">AÑOS</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label">Sobrenombre</label>
                                    <input class="form-control" type="text" id="reg-m-sup-sobrenombre" onkeypress="return  restriccionNombre(event)">
                                </div>


                                <div class="form-group fadeIn">
                                    <input type="checkbox" id="cboPoliticaMS">
                                    <label for="cboPoliticaMS" style="color:#868ba1;font-size: 16px;">He leÍdo y acepto la  <a href="#">
                                        Política de Privacidad <span class="tx-danger">*</span>
                                    </a></label>
                                </div>

                            </div>
                            <div class="justify-content-center btn-formulario">
                                <button type="button" name="button" class="btn btn-secondary" id="eraseCandidaturaMS">Cancelar</button>
                                <button type="button" name="button" class="btn btn-primary" id="reg-municipio-sup">Registrar Suplente</button>
                            </div>
                        </form>
                    </div>
                    <!-- Documentación de suplente  -->
                    <div class="split-form">
                        <div class="marg-form">
                            <h5 class="titulo"><i class="icon fa fa-file"></i> Documentación del Suplente</h5>
                            <form id="docSuplenteMunicipio" method="post">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-snr-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck1">
                                        Documento emitido por el SNR del INE.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-regcan-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck2">
                                        Solicitud de Registro.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-cred-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck5">
                                        Credencial para votar.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-actnac-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck3">
                                        Copia certificada del Acta de Nacimiento.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label form-control-label">Copia certificada del Acta de Nacimiento del padre o madre Tlaxcalteca</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mCopiaMPTsup" id="m-canS1" value="SI">
                                        <label class="form-check-label form-control-label" for="m-canS1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mCopiaMPTsup" id="m-canS2" value="NO">
                                        <label class="form-check-label form-control-label" for="m-canS2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mCopiaMPTsup" id="m-canS3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="m-canS3">No aplica</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-radicacion-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck8">
                                        Constancia de Radicación.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-aceptacion-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck6">
                                        Constancia de aceptación de la postulación.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label form-control-label">Constancia de separación del cargo o la función pública.</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mSeparacionCargoSup" id="m-radioCSFP1" value="SI">
                                        <label class="form-check-label form-control-label" for="m-radioCSFP2">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mSeparacionCargoSup" id="m-radioCSFP2" value="NO">
                                        <label class="form-check-label form-control-label" for="m-radioCSFP2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="mSeparacionCargoSup" id="m-radioCSFP3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="m-radioCSFP3">No aplica</label>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-inhabilitado-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck10">
                                        Escrito bajo protesta de decir verdad, que no se encuentra inhabilitado para ocupar un cargo público y que no se cuenta con antecedentes penales.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-antpen-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck9">
                                        Constancia de no antecendentes penales.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-me-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck11">
                                        Manifestación de partido político.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-ce-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck12">
                                        Informe de capacidad económica.
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="doc-m-cp-sup">
                                    <label class="form-check-label form-control-label" for="defaultCheck13">
                                        Cédula de identificación fiscal.
                                    </label>
                                </div>

                                <!--cambios de ultima hora-->

                                <div class="form-check">
                                    <input class="form-check-input doc-checkbox" type="checkbox" id="doc-carta-3-as">
                                    <label class="form-check-label form-control-label" for="doc-carta-3">
                                        CARTA 3 DE 3
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label form-control-label">CARTA REELECCIÓN</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="cartaEleccion-as" id="cartaEleccion-as-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="cartaEleccion-as-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="cartaEleccion-as" id="cartaEleccion-as-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="cartaEleccion-as-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="cartaEleccion-as" id="cartaEleccion-as-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="cartaEleccion-as-can3">No aplica</label>
                                    </div>
                                </div>


                                <div class="form-check">
                                    <label class="form-check-label form-control-label">CONSTANCIA DE AUTORIZACIÓN DEL ÓRGANO PARTIDISTA EN CASO DE RELECCIÓN</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="constAutOrganoPartidista-as" id="constAutOrganoPartidista-as-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="constAutOrganoPartidista-as-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="constAutOrganoPartidista-as" id="constAutOrganoPartidista-as-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="constAutOrganoPartidista-as-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="constAutOrganoPartidista-as" id="constAutOrganoPartidista-as-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="constAutOrganoPartidista-as-can3">No aplica</label>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label form-control-label">MANIFESTACIÓN DE AUTOADSCRIPCIÓN INDÍGENA</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="manifestacionIndigena-as" id="manifestacionIndigena-as-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="manifestacionIndigena-as-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="manifestacionIndigena-as" id="manifestacionIndigena-as-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="manifestacionIndigena-as-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="manifestacionIndigena-as" id="manifestacionIndigena-as-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="manifestacionIndigena-as-can3">No aplica</label>
                                    </div>
                                </div>


                                <div class="form-check">
                                    <label class="form-check-label form-control-label">CONSTANCIAS QUE ACREDITEN EL VÍNCULO COMUNITARIO</label>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="consVinculoComuni-as" id="consVinculoComuni-as-can1" value="SI">
                                        <label class="form-check-label form-control-label" for="consVinculoComuni-as-can1">Si</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="consVinculoComuni-as" id="consVinculoComuni-as-can2" value="NO">
                                        <label class="form-check-label form-control-label" for="consVinculoComuni-as-can2">No</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="consVinculoComuni-as" id="consVinculoComuni-as-can3" value="NO APLICA" checked="checked">
                                        <label class="form-check-label form-control-label" for="consVinculoComuni-as-can3">No aplica</label>
                                    </div>
                                </div>

                                <!--Fin de cambios de ultima hora-->


                            </form>
                        </div>
                        <!-- marg-form -->
                    </div>
                </div>
                <!-- .row -->
            </div>
        </div>
    </div>


</div>